[SddmGreeterTheme]
Name=Zust
Description=Clean and simple theme with no frills.
Screenshot=screenshot.png
Website=https://github.com/stepan-zubkov/sddm-zust
Author=stepan-zubkov
Copyright=(c) 2022, stepan-zubkov
License=MIT
Version=1.0.0
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Theme-Id=zust-theme
Theme-API=2.2
